*.core
*.dSYM
*.diff
*.o
*.patch
*.swp
*~
.deps/
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cmd-parse.c
compat/.dirstamp
config.log
config.status
configure
core
dist/
etc/
fuzz/*-fuzzer
tags
tmux
tmux.exe
tmux-client-*.log
tmux-out-*.log
tmux-server-*.log
tmux.1.*
